<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make A Short URL</title>
</head>
<body>
<h1>Make A Short URL</h1>
<form action="nuevaDireccion"  method="post">
    <label for="nombref">ingresa nombre</label>
    <input type="text" name="nombref" value="" required>
    <label for="direccion_linea1">ingresa direccion</label>
    <input type="text" name="direccion_linea1" value="" required>
    <label for="direccion_distrito">ingresa distrito</label>
    <input type="text" name="direccion_distrito" value="" required>
    <input type="submit" value="Submit">
</form>

</body>
</html>